li{
	display: inline-block;
	height: 20px;
}
.menu
{
	height:12%;
	display:flex;
	align-items:center;
}
ul{
    float: left;
    list-style-type: none;
    margin-top: 25px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
    letter-spacing: 1px;
    font-size: 20px;
    overflow: hidden;
    transition: 0.2s;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff;
}
ul li.active a{
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff;
}
body{
    background: url("img/park4.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.imgBox{
    float: initial;
    width: 500px;
    box-shadow: 10px 10px 5px black;
}
.imgHover{
    margin:70px auto 0;
    padding-top:200px;
    display:flex;
}
.imgHover .box
{
    position:relative;
    width:100%;
    height:250px;
    margin:10px;
    box-sizing:border-box;
    display:inline-block;
}
.imgHover .box .imgBox
{
    position:relative;
    overflow:hidden; 
}
.imgHover .box .imgBox img
{
    max-width:100%; 
    transition:transform 0.8s;
}
.imgHover .box:hover .imgBox img
{
    transform:scale(1.2);
}
h2{
    color: yellow;
    font-size: 30px;
}
p{
    color: #fff;
    font-size: 25px;
}
h1{

    text-align: center;
    color: #fff;
    font-size: 60px;
    
}
